@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbit&family=Orbitron:wght@400..900&display=swap');

:root {
  --gray-900: #212529;
  --gray-800: #343a40;
  --gray-700: #495057;
  --gray-600: #868e96;
  --gray-500: #adb5bd;
  --gray-400: #ced4da;
  --gray-300: #dee2e6;
  --gray-200: #e9ecef;
  --gray-100: #f1f3f5;
  --gray: #f8f9fa;
  --font-h1: 61px;
  --font-h2: 49px;
  --font-h3: 39px;
  --font-h4: 31px;
  --font-h5: 25px;
  --font-h6: 20px;
  --font-p: 16px;
  --font-small: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  position: relative;
  background: #000000;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  translate: -20% 30%;
  z-index: 99;
}

.nav-link {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 14px;
  height: 20px;
  border-radius: 20px;
  background-color: #21252976;
  color: var(--gray-200);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  transition: 0.05s ease-in;
}

.nav-link:hover {
  background-color: #21252987;
}

.nav-link:active {
  background-color: #21252976;
}

#slides {
  max-height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
}

.text-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  position: absolute;
  bottom: 0;
  z-index: 8;
}

.title {
  font-family: Helvetica !important;
  font-weight: 300;
  font-size: var(--font-h6);
  text-transform: uppercase;
  color: var(--gray-300);
}

.description {
  font-family: 'Inter' !important;
  font-size: var(--font-small);
  color: var(--gray-500);
}

.price {
  color: var(--gray-400);
  font-size: var(--font-h4);
  font-weight: 300;
}

.stock {
  color: var(--gray-600);
}

.btn {
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid var(--gray-700);
  background-color: transparent;
  padding: 6px 12px;
  border-radius: 6px;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33));
}

.slider {
  position: absolute;
  right: 0;
  top: 50%;
  translate: -50%;
  width: 16px;
  height: 100px;
  background-color: #21252976;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 20px;

  /* Position for inside dots */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 4px;
  z-index: 20;
  overflow: hidden;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: var(--gray-800);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.dot.active {
  background-color: var(--gray-400);
  flex: 1;
  border-radius: 16px;
}

.dot:hover {
  background-color: var(--gray-600);
}

@media (min-width: 768px) {
  .slide {
    flex-direction: row;
    height: 100dvh;
  }

  .text-container {
    position: static;
    background: #000000;
  }

  .image-container::after {
    background: none;
  }

  .description {
    color: var(--gray-600);
  }

  .slider {
    translate: -50% -50%;
  }

  .image-container img {
    height: 100dvh;
  }
}
